{% extends "::base.html.twig" %}

{% block body %}
<div class="container">
    <div class="row">
        {% block spread_user_content %}
        {% endblock spread_user_content %}
    </div>
</div>

{% endblock %}